<h3>Album: <%= @album.name %> </h3>
<div class="row">
  <div class="col-md-4">

    <div class="thumbnail">
      <img alt="100%x200" data-src="holder.js/100%x200" style="height: 200px; width: 100%; display: block;" data-holder-rendered="true"  src="<%= @album.cover.try(:url) %>" >
      <div class="caption">
        <h3>Description</h3>
        <p><%= @album.description %></p>
      </div>
    </div>

    <h3>More Info</h3>
    <div class="well well-lg">
      <b>Artist</b>
      <p>
        <img src="<%= @album.artist.picture.try(:thumb).try(:url)%>" alt="artist picture" class="img-thumbnail"><br/>
        <%= link_to @album.artist.name, artist_path(@album.artist) %>
      </p>
      <b>Genre</b>
      <p><%= @album.genre.name %></p>
      <b>Release Date</b>
      <p><%= @album.release_date%></p>
      <b>Duration</b>
      <p><%= @album.duration%></p>
      <b>Recording start date</b>
      <p><%= @album.recording_start_date%></p>
      <b>Recording end date</b>
      <p><%= @album.recording_end_date%></p>
    </div>

    <h3>Moods</h3>
    <div class="well well-lg">
      <p><%= @album.moods.map(&:name).join(", ") %></p>
    </div>
    <h3>Styles</h3>
    <div class="well well-lg">
      <p><%= @album.styles.map(&:name).join(", ") %></p>
    </div>
    <h3>Themes</h3>
    <div class="well well-lg">
      <p><%= @album.styles.map(&:name).join(", ") %></p>
    </div>
    <h3>Tags</h3>
    <div class="well well-lg"><%= @album.tag_list.presence || 'No tags' %></div>

    <h3>Credits</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Credit</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <% @credits = @album.album_credits %>
        <% if @credits.present? %>
          <% @credits.each do |credit| %>
          <tr>
            <td><%= credit.credit %></td>
            <td><%= credit.credit_type.name %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No credits</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-8">
    <h3>Tracks</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Track</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <% @tracks = @album.tracks %>
        <% if @tracks.present? %>
          <% @tracks.each do |track| %>
          <tr>
            <td><%= link_to  track.track_number, track_path(track.album.artist, track.album, track)  %>.  <%= link_to track.name, track_path(track.album.artist, track.album, track) %></td>
            <td><%= track.duration %> </td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No tracks</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h3>Similar albums</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Artist Name</th>
          <th>Album</th>
        </tr>
      </thead>
      <tbody>
        <% if @similar_albums.present? %>
          <% @similar_albums.each do |album| %>
          <tr>
            <td>
               <img src="<%= album.artist.picture.try(:thumb).try(:url)%>" alt="artist picture" class="img-thumbnail"><br/>
               <%= link_to album.artist.name, artist_path(album.artist) %></td>
            <td>
              <img src="<%= album.cover.try(:thumb).try(:url)%>" alt="album cover" class="img-thumbnail"><br/>
              <%= link_to album.name, album_path(album.artist, album) %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No matching results</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h3>Similar artists</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Artist Name</th>
        </tr>
      </thead>
      <tbody>
        <% if @similar_artists.present? %>
          <% @similar_artists.each do |artist| %>
          <tr>
            <td>
              <img src="<%= artist.picture.try(:thumb).try(:url)%>" alt="thumb" class="img-thumbnail"><br/>
              <%= link_to artist.name, artist_path(artist) %>
            </td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No matching results</td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
