<h3>Artist: <%= @artist.name %></h3>
<div class="row">
  <div class="col-md-4">

    <div class="thumbnail">
      <img alt="100%x200" data-src="holder.js/100%x200" style="height: 200px; width: 100%; display: block;" data-holder-rendered="true"  src="<%= @artist.picture.try(:url) %>" >
      <div class="caption">
        <h3>Biography</h3>
        <p><%= @artist.biography %></p>
      </div>
    </div>
    <h3>Tags</h3>
    <div class="well well-lg"><%= @artist.tag_list.presence || 'No tags' %></div>
  </div>
  <div class="col-md-4">
    <h3>Albums</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Album</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        <% @albums = @artist.albums %>
        <% if @albums.present? %>
          <% @albums.each do |album| %>
          <tr>
            <td><%= link_to album.name, album_path(album.artist, album) %></td>
            <td><%= album.genre.name %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No albums</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h3>Tracks</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Album</th>
          <th>Track</th>
        </tr>
      </thead>
      <tbody>
        <% @tracks = @artist.tracks %>
        <% if @tracks.present? %>
          <% @tracks.each do |track| %>
          <tr>
            <td><%= link_to track.album.name, album_path(@artist, track.album) %></td>
            <td><%= link_to track.name, track_path(track.album.artist, track.album, track) %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No tracks</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Similar artists</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Artist Name</th>
        </tr>
      </thead>
      <tbody>
        <% if @similar_artists.present? %>
          <% @similar_artists.each do |artist| %>
          <tr>
            <td>
              <img src="<%= artist.picture.try(:thumb).try(:url)%>" alt="thumb" class="img-thumbnail"><br/>
              <%= link_to artist.name, artist_path(artist) %>
            </td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No matching results</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
