<%= form_tag '/search', method: "GET" do  %>
  <div class="container">
  	<div class="row">
        <div class="col-md-6">
      		<h2>Search artists, albums and tracks</h2>
          <div id="custom-search-input">
              <div class="input-group col-md-12">
                <span class="input-group-btn">
                  <a class="btn btn-default btn-lg" href='/'>
                      <i class="glyphicon glyphicon-reset"></i> Reset
                  </a>
                </span>
                  <input type="text" name='q' class="form-control input-lg" placeholder="Search...." value="<%= params[:q] %>" />
                  <span class="input-group-btn">
                      <button class="btn btn-info btn-lg" type="submit">
                          <i class="glyphicon glyphicon-search"></i>Search
                      </button>
                  </span>
              </div>
          </div>
        </div>
  	</div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-3">
    <h3> New Artists</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Artist Name</th>
        </tr>
      </thead>
      <tbody>
        <% if @artists.present? %>
          <% @artists.each do |artist| %>
          <tr>
            <td>
              <img src="<%= artist.picture.try(:thumb).try(:url)%>" alt="thumb" class="img-thumbnail"><br/>
              <%= link_to artist.name, artist_path(artist) %>
            </td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No matching results</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h3>New Albums</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Artist Name</th>
          <th>Album</th>
        </tr>
      </thead>
      <tbody>
        <% if @albums.present? %>
          <% @albums.each do |album| %>
          <tr>
            <td>
               <img src="<%= album.artist.picture.try(:thumb).try(:url)%>" alt="artist picture" class="img-thumbnail"><br/>
               <%= link_to album.artist.name, artist_path(album.artist) %></td>
            <td>
              <img src="<%= album.cover.try(:thumb).try(:url)%>" alt="album cover" class="img-thumbnail"><br/>
              <%= link_to album.name, album_path(album.artist, album) %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No matching results</td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <h3>New Tracks</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Artist Name</th>
          <th>Album</th>
          <th>Track</th>
        </tr>
      </thead>
      <tbody>
        <% if @tracks.present? %>
          <% @tracks.each do |track| %>
          <tr>
            <td>
              <img src="<%= track.album.artist.picture.try(:thumb).try(:url)%>" alt="artist picture" class="img-thumbnail"><br/>
              <%= link_to track.album.artist.name, artist_path(track.album.artist) %>
            </td>
            <td>
              <img src="<%= track.album.cover.try(:thumb).try(:url)%>" alt="album cover" class="img-thumbnail"><br/>
              <%= link_to track.album.name, album_path(track.album.artist, track.album) %>
            </td>
            <td><%= link_to track.name, track_path(track.album.artist, track.album, track) %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No matching results</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
