<h3>Track: <%= @track.name %></h3>
<div class="row">
  <div class="col-md-4">
    <h3>Track Info</h3>
    <div class="well well-lg">
      <b>Artist</b>
      <p>
        <img src="<%= @track.album.artist.picture.try(:thumb).try(:url)%>" alt="artist picture" class="img-thumbnail"><br/>
        <%= link_to @track.album.artist.name, artist_path(@track.album.artist) %>
      </p>
      <b>Album</b>
      <p>
        <img src="<%= @track.album.cover.try(:thumb).try(:url)%>" alt="album cover" class="img-thumbnail"><br/>
        <%= link_to @track.album.name, album_path(@track.album.artist, @track.album) %>
      </p>

      <b>Name</b>
      <p><%= @track.name %></p>
      <b>Duration</b>
      <p><%= @track.duration%></p>
      <b>Track number</b>
      <p><%= @track.track_number%></p>
    </div>
    <h3>Tags</h3>
    <div class="well well-lg"><%= @album.tag_list.presence || 'No tags' %></div>
    <h3>Credits</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Credit</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <% @credits = @track.track_credits %>
        <% if @credits.present? %>
          <% @credits.each do |credit| %>
          <tr>
            <td><%= credit.credit %></td>
            <td><%= credit.credit_type.name %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No credits</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-8">

    <h3>Similar tracks</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Artist Name</th>
          <th>Album</th>
          <th>Track</th>
        </tr>
      </thead>
      <tbody>
        <% if @similar_tracks.present? %>
          <% @similar_tracks.each do |track| %>
          <tr>
            <td>
              <img src="<%= track.album.artist.picture.try(:thumb).try(:url)%>" alt="artist picture" class="img-thumbnail"><br/>
              <%= link_to track.album.artist.name, artist_path(track.album.artist) %>
            </td>
            <td>
              <img src="<%= track.album.cover.try(:thumb).try(:url)%>" alt="album cover" class="img-thumbnail"><br/>
              <%= link_to track.album.name, album_path(track.album.artist, track.album) %>
            </td>
            <td><%= link_to track.name, track_path(track.album.artist, track.album, track) %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan='3'>No matching results</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h3>Similar albums</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Artist Name</th>
          <th>Album</th>
        </tr>
      </thead>
      <tbody>
        <% if @similar_albums.present? %>
          <% @similar_albums.each do |album| %>
          <tr>
            <td>
               <img src="<%= album.artist.picture.try(:thumb).try(:url)%>" alt="artist picture" class="img-thumbnail"><br/>
               <%= link_to album.artist.name, artist_path(album.artist) %></td>
            <td>
              <img src="<%= album.cover.try(:thumb).try(:url)%>" alt="album cover" class="img-thumbnail"><br/>
              <%= link_to album.name, album_path(album.artist, album) %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No matching results</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h3>Similar artists</h3>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Artist Name</th>
        </tr>
      </thead>
      <tbody>
        <% if @similar_artists.present? %>
          <% @similar_artists.each do |artist| %>
          <tr>
            <td>
              <img src="<%= artist.picture.try(:thumb).try(:url)%>" alt="thumb" class="img-thumbnail"><br/>
              <%= link_to artist.name, artist_path(artist) %>
            </td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No matching results</td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>



</div>
